<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIiIWsDB5oi6ozdBucmIV0A5QsK7uhn-k</string>
	<key>GCM_SENDER_ID</key>
	<string>673521878608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yaksok</string>
	<key>PROJECT_ID</key>
	<string>yaksok-6f58b</string>
	<key>STORAGE_BUCKET</key>
	<string>yaksok-6f58b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673521878608:ios:d3710af96a3a769f20f355</string>
</dict>
</plist>